<h1>The Humans Behind The Machine.</h1> 
  <ul>
    <li><a href="http://flavors.me/neal">Neal Sales-Griffin</a></li>
	<li>Claire Lew</li>
	<li>Michael McGee</li>
	<li>Maggie Jim</li>
    <li>Paul David Shrader</li>
  </ul>