<h1>Having trouble activating your machine?</h1> 
<p>
  Here are some tips and resources to help with the activation process:
</p>
<ul>
    <li><a href="http://pomodorotechnique.com">
	The Pomodoro Technique</a></li>
	<li>The GIDM Manifesto</li>
	<li>Rework</li>
  </ul>